
::-webkit-scrollbar {
    width: 15px;
    background: #14172f9c;
}
::-webkit-scrollbar-thumb {
    background-color: #2f366b;
    border-radius: 20px;
}

.AnimLeft, .AnimRight {
opacity: 0;
transition: all 0.5s ease-out;
}

.AnimLeft {
    transform: translateX(-100px);
}

.AnimRight {
    transform: translateX(100px);
}

.img-time.AnimRight{
    transform: rotate(-20deg)  translateX(50px);
}
.img-time.AnimRight.AnimOriginal{
    transform: rotate(-30deg) translateX(0);
}


.AnimOriginal {
    opacity: 1;
    transform: translateX(0);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-body:#14172f;
    --text-header:#DDC493;
    --text:#FFF3E5;
    --bt-text:#000000;
    --idea-center:#502A37;
    --idea-lateral:#21192F;
    --idea-center-h:#77344B;
    --idea-lateral-h:#382954;
    --menu-lang-h:#978c76;
}
html {
    background-color: var(--bg-body);
    overflow-x: hidden;
    color: var(--text); 
}
hr {
    height: 5px;
    background: repeating-linear-gradient(to right,
                transparent 0,
                transparent 5px, 
                var(--text) 5px,
                var(--text) 15px,
                transparent 15px,
                transparent 20px 
            );
    width: 300px;
    margin: 0 auto;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.text-content {
    font-family: "Lato";
    font-style: normal;
    font-size: 22px;
    font-weight: 300;
    line-height: 35.2px;
    letter-spacing: 1.0px;
}
p {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 75px;
    margin-bottom: 20px;
}
.hero .button-swipe {
    margin-left: 170px;
}
.button-swipe {
    border: 0px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    text-align: left;
    background: linear-gradient(90deg, #13F41C , #206C3A,#13F41C );
    background-position: 200px;
    background-size: 190%;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 30px;
    color: var(--text);
    transition: background 0.7s ease;
}
.button-swipe:hover {
    background-position: 0px;
}
.home {
    margin: 0 auto 100px auto;
    position: relative;
    background-size: 105%;
    background-position-y: -200px;
    background-position-x: 250px;
    background-repeat: no-repeat; 
    width: 1700px;
    height: 800px; 
}
.home > * {
    position: relative;
    z-index: 2;
}
.home::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(280deg, rgba(20, 23, 47, 0) 40.59%, #14172F 77.17%),
                linear-gradient(to bottom, var(--bg-body) 1%, rgba(0, 0, 0, 0) 25%),
                linear-gradient(to left, var(--bg-body) 1%, rgba(0, 0, 0, 0) 25%),
                linear-gradient(to top, var(--bg-body) 1%, rgba(0, 0, 0, 0) 12%);
    pointer-events: none;
}


/*------------------------------------- header -------------------------------------*/
header {

    padding-top: 30px;
    display: flex;
    justify-content: center;

}
header nav{
    width: 550px;
    display: flex;
    justify-content: space-between;
}
.wait,.active {
    font-size: 25px;
    color: var(--text-header);}
.active {
    position: relative
}
.active img {
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    top: -10px;
    width: 30px;
    height: 30px;
}
.wait {
    position: relative;
}
.wait::before{
    content: '';
    width: 100%;
    height: 2px;
    background: #DDC493 ;
    position: absolute;
    left: 0px;
    bottom: -2px;
    transform: scale(0);
    transition: transform 200ms ease;
}
.wait:hover:before {
    transform: scale(1);
    transition: transform 200ms ease;
}
/*------------------------------------- /header -------------------------------------*/
/*------------------------------------- button language -------------------------------------*/
.btn_language {
    color: var(--bt-text);
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    border: 0px;
    position: absolute;
    top: 20px; 
    right: 5px ; 
    background: var(--text-header);
    padding: 10px 7px 10px 7px;
    border-radius: 18px; 
    transition: background 500ms ease; 
    width: 80px; 
    height: 50px; 
    font-size: 25px;
}
.btn_language:hover {
    background: var(--menu-lang-h);
}
.menu-language{
    z-index: 999;
    display: none;
    position: absolute;
    padding: 13px;
    top: 65px;
    right: 5px ; 
    width: 225px;
    height: 170px;
    background: #DDC493;
    border-radius:  15px 0px 15px 15px;
}
.menu-language ul{
    display: flex;
    flex-wrap: wrap;
}
.menu-language ul button{
    border-style: none;
    margin: 1px 3px;
    width: 50px;
    height: 37.5px;
    transition: background 250ms ease;
}
.menu-language ul button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
/*------------------------------------- /button language -------------------------------------*/

/*------------------------------------- hero -------------------------------------*/
.hero {
    margin-top: 30px;
    margin-left: 180px;
}
.hero img {
    width: 650px;
    height: auto;
}
.hero .text-content {
    width: 600px;
    text-align: center;
    margin: 0px 0  20px 30px;
}
/*------------------------------------- /hero -------------------------------------*/

.start {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start .block-start {
    width: 700px;
}
.start .img-start {
    flex: 0 0 auto; 
    margin: auto 0;
    width: 500px; 
    height: auto; 
    background-size: cover; 
}

.beginning {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.beginning .text-content {
    width: 650px;
    margin-left: 20px;
}
.beginning .img-beginning {
    flex: 0 0 auto; 
    margin: auto 0;
    width: 500px; 
    height: auto; 
    background-size: cover; 
}

.time {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-time{
    margin-right: 60px;
}
.time .text-content {
    width: 700px;
}
.time .img-time {
    flex: 0 0 auto; 
    margin: auto 0;
    width: 300px; 
    height: auto; 
    background-size: cover; 
}

.futer .OWELL{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 50px;
}
@media (width  <= 1820px) {
    .home {
        background-position-y: -100px;
        background-position-x: 300px;
        width: 1500px;
    }
}
@media (width  <= 1620px) {
    .hero {
        margin-left: 50px;
    }
    .home {
        background-position-y: 0px;
        background-position-x: 200px;
        width: 1300px;
    }
}
@media (width  <= 1420px) {
    .hero {
        margin-left: 0px;
    }
    .home {
        background-size: 1500px auto;
        background-position-y: -100px;
        background-position-x: 150px;
        width: 1100px;
    }
}
@media (width  <= 1220px) {
     .container{
        width: 390px;
    }
    .text-content {
        font-size: 13px;
        line-height: 17.2px;
        letter-spacing: 0.5px;
    }
    .mini-p {
        font-size: 16px;
        line-height: 10.1px;
    }
    p {
        font-size: 25px;
        margin-bottom: 10px;
    }
    hr {
        width: 200px ;
    }
    .button-swipe {
        border: 0px;
        background-size: 190%;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 20px;
    }
    .home {
        background-position-x: -100px;
        background-position-y: -100px;
        background-size: 1000px auto;
        height: 500px; 
        width: 390px;
        margin-bottom: 20px;
    }
    .home::before {
        background: linear-gradient(280deg, rgba(20, 23, 47, 0) 40.59%, #14172F 77.17%),
                    linear-gradient(to bottom, var(--bg-body) 1%, rgba(0, 0, 0, 0) 25%),
                    linear-gradient(to left, var(--bg-body) 1%, rgba(0, 0, 0, 0) 7%),
                    linear-gradient(to top, var(--bg-body) 1%, rgba(0, 0, 0, 0) 12%);
    }
    .menu-language ul button:hover {
        transform: scale(1);
    }
    .btn_language {
        top: 18px; 
        right: 5px ; 
        padding: 7px 7px;
        width: 60px;
        height: 41px;
        font-size: 15px;
    }
    .btn_language:hover {
        background: var(--text-header);
    }
    .menu-language{
        padding: 11px 10px;
        top: 55px;
        right: 5px ; 
        width: 125px;
        height: 170px;
        
    }
    .menu-language ul button{
        margin: 2px 2px;
        width: 37.5px;
        height: 25px;
    }
    .hero {
        margin-left: 10px;
        margin-top: 40px;
    }
    .hero  img {
        width: 220px;
        height: auto;

    }
    .hero .button-swipe {
        margin-left: 30px;
    }
    .hero .text-content {
        width: 230px;
        margin: 10px 0 10px 0px;
    }
    .wait,.active {
        font-size: 15px;
    }
    .active img {
        width: 15px;
        height: 15px;
    }
    header {
        transform: translateX(0px);
        width: 380px;
        justify-content: left;
    }
    header nav{
        width: 270px;
        transform: translateX(20px);
    }

    .start {
        position: relative;
        margin: 50px auto 50px auto;
        justify-content: left;
    }
    .start .block-start{
        z-index: 1;
        width: 230px;
        margin-right: 10px;
    }
    .start .block-start .text-content{

        width: 200px;
        margin: auto;
    }
    .start .img-start {
        position: absolute;
        right: -150px;
        height: auto;
        width: 300px;
    }

    .beginning {
        margin: 30px auto 50px auto;
    }
    .beginning .block-beginning{
        z-index: 1;
        width: 230px;
        margin-right: 10px;
    }
    .beginning .block-beginning .text-content{

        width: 200px;
        margin: auto;
    }
    .beginning .img-beginning {
        height: auto;
        width: 150px;
    }

    .time {
        position: relative;
        margin: 50px auto 50px auto;
        justify-content: left;
    }
    .time .block-time{
        z-index: 1;
        width: 230px;
        margin-right: 10px;
    }
    .time .block-time .text-content{

        width: 200px;
        margin: auto;
    }
    .time .img-time {
        position: absolute;
        right: -70px;
        height: auto;
        width: 200px;
    }
    .futer .OWELL {
        margin-top: 100px;
        width: 220px;
        height: auto;
    }

}
@media (width  <= 400px){
    .start .img-start {
        transform: rotate(340deg);
        right: -280px;
        width: 400px;
    }
}
@media (width  <= 389px){

    .container{
        width: 360px;
    }
    .home {
        width: 360px;
        background-position-x: -110px;

    }

    .menu-language{
        width: 85px;
        height: 240px;
        
    }
    header nav{
        width: 260px;
    }

    .start .img-start {
        right: -300px;
    }
    .time .img-time {
        right: -100px;
    }
}